@inject SignInManager<AppUser> SignInManager
@model RegisterViewModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Đăng ký tài khoản mới";
    string returnUrl = ViewBag.ReturnUrl;
    var ExtenalLogins = ViewBag.ExternalLogins as List<AuthenticationScheme>;
}

<div class="login_wrapper ">
    <section class="login_content">
        <form method="post">
            <h1>Đăng ký</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div>
                <input asp-for="@Model.Email" class="form-control" placeholder="name@example.com" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="@Model.Password" class="form-control" autocomplete="current-password"
                    aria-required="true" placeholder="password" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3 text-start">
                <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="current-password"
                    aria-required="true" placeholder="password" />
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-sm btn-round btn-primary">Đăng ký</button>
            </div>
        </form>
        <div>
            <div class="d-flex align-items-center my-4">
                <hr class="flex-grow-1">
                <span class="mx-3">External Login</span>
                <hr class="flex-grow-1">
            </div>
        </div>
        <form id="external-account" asp-action="ExternalLogin" asp-route-returnUrl="@returnUrl" method="post"
            class="form-horizontal">
            <div>
                <p>
                    <button type="submit" class="w-100 btn btn-sm btn-round btn-danger" name="provider" value="Facebook"
                        title="Log in using your Facebook account"><i class="fa fa-facebook"></i>
                        Facebook</button>
                </p>
                <p>
                    <button type="submit" class="w-100 btn btn-sm btn-round btn-success" name="provider" value="Google"
                        title="Log in using your Google account"><i class="fa fa-google"></i>
                        Google</button>
                </p>
            </div>
        </form>
        <div>
            <div class="d-flex align-items-center my-4">
                <hr class="flex-grow-1">
                <span class="mx-3">Other utility</span>
                <hr class="flex-grow-1">
            </div>
            <div>
                <p>
                    <a id="forgot-password" asp-action="ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-action="Register" asp-route-returnUrl="@returnUrl">Register as a new user</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-action="ResendEmailConfirmation">Resend email confirmation</a>
                </p>
            </div>


        </div>
</div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
