@model OMS_App.Areas.Product.Models.CategoryCreateModel

@{
    ViewData["Title"] = "Thêm category";
    Layout = "_Layout";
   
}
<h1> @ViewData["Title"]</h1>
<h4> Tạo danh mục sản phẩm</h4>
<form method="post" >
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="form-group">
        <label asp-for="@Model.Category.Title" class="form-label"></label>
        <input asp-for="@Model.Category.Title" class="form-control" placeholder="Nhap tieu de category" />
        <span asp-validation-for="@Model.Category.Title" class="text-danger danger"></span>
    </div>
   
    <div class="form-group">
        <label asp-for="@Model.ParentCategoryId" class="form-label"></label>
        <select asp-for="@Model.ParentCategoryId" class="form-control" asp-items="@Model.Options"></select>
        <span asp-validation-for="@Model.ParentCategoryId" class="text-danger danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Category.Content" class="form-label"></label>
        <input asp-for="@Model.Category.Content" class="form-control" placeholder="Nhap tieu de category" />
        <span asp-validation-for="@Model.Category.Content" class="text-danger danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Category.Slug" class="form-label"></label>
        <input asp-for="@Model.Category.Slug" class="form-control" placeholder="Nhap tieu de category" />
        <span asp-validation-for="@Model.Category.Slug" class="text-danger danger"></span>
    </div>
    <button class="btn btn-primary btn-sm" type="submit">Create</button>
    
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}