@model OMS_App.Areas.Product.Models.CategoryCreateModel
<!-- include libraries(jQuery, bootstrap) -->

@{
    ViewData["Title"] = "Categories";


}

<h1> @ViewData["Title"]</h1>
<h4> Tạo danh mục sản phẩm</h4>
<div class="row">
    <div class="col-6">
        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="@Model.Category.Title" class="form-label"></label>
                <input asp-for="@Model.Category.Title" class="form-control" placeholder="Nhap tieu de category" />
                <span asp-validation-for="@Model.Category.Title" class="text-danger danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ParentCategoryId" class="form-label"></label>
                <select asp-for="@Model.ParentCategoryId" class="form-control" asp-items="@Model.Options"></select>

                <span asp-validation-for="@Model.ParentCategoryId" class="text-danger danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.Content" class="control-label"></label>
                <textarea asp-for="Category.Content" class="form-control"></textarea>
                <span asp-validation-for="Category.Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Category.Slug" class="form-label"></label>
                <input asp-for="@Model.Category.Slug" class="form-control" placeholder="Nhap tieu de category" />
                <span asp-validation-for="@Model.Category.Slug" class="text-danger danger"></span>
            </div>
            <button class="btn btn-primary btn-sm" type="submit" id="submit">Create</button>
        </form>

    </div>


    <div class="col-6">
        <form action="/Category/UploadImages" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div>
                    <input type="file" id="imageUpload" name="uploadedFile" accept="image/*" />
                </div>

                <img id="imagePreview"
                    src="https://anhgaixinh.vn/wp-content/uploads/2022/08/7_hinh-gai-xinh-cute-de-thuong-nhat-viet-nam.jpg"
                    alt="Dynamic Image" style="border:2px solid #ddd; margin-top:10px; height:500px; width:auto;" />
            </div>
            <button class="btn btn-primary btn-sm" type="button" id="upload">Upload</button>
        </form>
    </div>




</div>





@section Scripts {
    @* <script>
        $(document).ready(function () {
            $('#upload').click(function () {
                console.log("Clicked to button");
            });
        });
    </script> *@

    @await Html.PartialAsync("_Summernote", new { Height = 300, Selector = "#Category_Content" });
    @await Html.PartialAsync("_AddImage", new { UploadSelector = "#imageUpload", DisplaySelector = "#imagePreview" ,
    Submit = "#upload", Id = "1",AreaName = "Product", ControllerName = "Category",ActionName = "UploadImage"});

}