
@using OMS_App.Areas.Admin.Models
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity;
@model ClaimViewModel

@{
    ViewData["Title"] = "Claim Management";
    var Claims=ViewBag.Claims as List<Claim>;
        var role=ViewBag.Role as IdentityRole;
 

    
}

<h1>@ViewData["Title"]</h1>
 <partial name="_StatusMessage" model="@TempData["StatusMessage"]"></partial>

<div class="col-md-6">
        <section>
            <form id="account" method="post" class="row g-2">  

                <div class="col-auto">

                    <label class="visually-hidden"></label>
                    <input class="form-control" asp-for="SearchingClaimName" placeholder="Enter claim type ...">
                    <span asp-validation-for="SearchingClaimName" class="text-danger"></span>
                </div>
               
                <div class="col-2">
                    <button id="login-submit" type="submit" class=" btn mb-3 btn-primary" asp-route-roleid="@role.Id">Search</button>
                </div>
            </form>
        </section>
        
    </div>
</div>
    
<div>
    <h2> Thêm Claim cho @role.Name</h2>
</div>
<div >
    <div>

        <a asp-action="CreateClaim" asp-controller="Role" asp-route-roleid="@role.Id" class="text-link text-primary">Add Claim</a>
         <a asp-action="Index" asp-controller="Role"  class="text-link text-primary">Back to Role</a>
    </div>

</div>
<hr>

    <table class="table">
    <thead>
        <tr>
            <th>
                No
            </th>
             <th>
                ClaimType
            </th>
            <th></th>
            <th>ClaimValue</th>
             
            <th>
               
            </th>

        </tr>
    </thead>
    <tbody>
            @{
                int i=1;
            }
            @foreach(Claim claim in Claims){
                <tr>
                    <td>@(i++)</td>
                    <td>@Html.DisplayFor(modelItem=>claim.Type)</td>
                    <td>@Html.DisplayFor(modelItem=>claim.Value)</td>
                   
                    
                    <td>
     
                        <a class=" btn-danger btn-sm " asp-action="DeleteClaim"  asp-controller="Role"  asp-route-claimtype="@claim.Type" asp-route-claimvalue="@claim.Value" asp-route-roleId="@role.Id">Delete</a>


                    </td>
                </tr>
                
                
            }
    </tbody>
</table>

