@using Newtonsoft.Json
@using OMS_App.Areas.Orders.Models
@using  OMS_App.Areas.Orders.Dtos
@model OrderedProductIndexViewModel
@{
    @* ViewData["Title"] = "Product Inventory"; *@
    ViewData["Title"] = "Các chuyên mục";
  

}
@* <h1>@ViewData["Title"]</h1> *@
<section>
    <form method="post" class="row g-2" asp-action="Index">
        <div class="col-auto">
            <input class="form-control" asp-for="@Model.SearchName" placeholder="Enter product name...">
            <span asp-validation-for="@Model.SearchName" class="text-danger"></span>
        </div>
        <div class="col-2">
            <button id="login-submit" type="submit" class=" btn mb-3 btn-primary">Search</button>
        </div>
    </form>
</section>
<section>
  
    <h2><a asp-action="Create" asp-controller="ProductInventory" class="text-link text-primary">Thêm product</a>
        </h2>
    </div>
</section>
<hr>
@if(Model.OrderedProductsReadDto!=null){
    <table class="table">
    <thead>
        <tr>
            <th>
                No
            </th>
            <th>
                ProductName
            </th>
            <th>TotalProduct</th>
            <th>Price</th>
            <th>TotalPrices</th>

            <th>
                Action
            </th>

        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var product in Model.OrderedProductsReadDto)
        {
            <tr>
                <td>@(i++)</td>
                <td>@Html.DisplayFor(modelItem => product.ProductName)</td>
                <td>@Html.DisplayFor(modelItem => product.TotalProduct)</td>
                <td>@Html.DisplayFor(modelItem => product.Price)</td>
                <td>@Html.DisplayFor(modelItem => product.TotalPrices)</td>

                <td>
                    <a asp-action="Create" asp-controller="Order"  asp-area="Orders" asp-route-productId="@product.Id">Order</a>
                    <a asp-action="Update" asp-controller="OrderedProduct" asp-route-productId="@product.Id">Update</a>
                    <a asp-action="Delete" asp-controller="OrderedProduct" asp-route-productId="@product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

}