@using OMS_App.Areas.Post.Models
@model List<Post>;


<h1> Danh sách các chuyên mục sản phẩm</h1>
<a class="text text-link" asp-action="Create" asp-controller="Post" asp-area="Post">Tạo chuyên mục mới"</a>
<div>
    <table class="table">
        <thead>
            <th>Tiêu đề </th>
            <th>Tác giả</th>
            <th>Ngày cập nhật</th>
            <th>Xuất bản</th>
            <th>Chuyên mục</th>
            <th>Actions</th>


        </thead>
        <tbody>

            @foreach (var Post in Model)
            {
                <tr>
                    <td>@Post.Title</td>
                    <td>@Post.Author</td>
                    <td>@Post.DateUpdated</td>
                    <td>@Post.Published</td>
                    <td>@String.Join(",", Post.PostCategories.Select(p => p.Category.Title).ToList())</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@Post.PostId">Sửa</a> |
                        <a asp-action="Delete" asp-route-id="@Post.PostId">Xóa</a>|
                        <a asp-action="Detail" asp-route-id="@Post.PostId">Chi tiết</a>
                    </td>

                </tr>



            }



        </tbody>



    </table>
</div>
