
@model OMS_App.Areas.Admin.UserRole.Models.UserListModel;


@{
    ViewData["Title"] = "Role Management";
   
}

<h1>@ViewData["Title"]</h1>
 <partial name="_StatusMessage" model="@TempData["StatusMessage"]"></partial>
<div class="row">
    <div class="col-md-6">
        <section>
            <form id="account" method="post" class="row g-2">  

                <div class="col-auto">
                    <label class="visually-hidden" asp-for="SearchUserName"></label>
                    <input class="form-control" asp-for="SearchUserName" placeholder="Enter role name ...">
                    <span asp-validation-for="SearchUserName" class="text-danger"></span>
                </div>
               
                <div class="col-2">
                    <button id="login-submit" type="submit" class=" btn mb-3 btn-primary">Search</button>
                </div>
            </form>
        </section>
        
    </div>
 
</div>
    
<div>
    <h2> Thêm role</h2>
</div>

<hr>

    <table class="table">
    <thead>
        <tr>
            <th>
                No
            </th>
             <th>
                UserName
            </th>
           
            <th>Roles</th>
             
            <th>
                Action
            </th>

        </tr>
    </thead>
    <tbody>
            @{
                int i=1;
            }
            @foreach(var user in Model.Users){
                <tr>
                    <td>@(i++)</td>
                    <td>@Html.DisplayFor(modelItem=>user.UserName)</td>
                   
                    <td>@Html.DisplayFor(modelItem=>user.RoleNames)</td>
                    
                    <td>
                        <a asp-action ="AddRole" asp-controller="Role" asp-route-roleid="@user.Id">Addrole</a>
                        <a asp-action ="Edit" asp-controller="Role" asp-route-roleid="@user.Id">EditRole</a>
                        <a asp-action ="Update" asp-controller="Role" asp-route-roleid="@user.Id">UpdateRole</a>
                        <a asp-action ="Delete" asp-controller="Role" asp-route-roleid="@user.Id">DeleteRole</a>
                    </td>
                </tr>
                
                
            }
    </tbody>
</table>

