@using OMS_App.Areas.Inventory.Dtos
@model ProductCategoryReadDto
@{
    ViewData["Title"] = "Detail";

}

<h1> @Model.Name Detail</h1>

<div class="d-flex flex-wrap">
    <div class="col-xl-5">
        <div class="row">

            <strong>
                <p>
                    @Html.DisplayNameFor(Model => Model.Name)
                </p>
            </strong>:
            <p>
                @Html.DisplayFor(Model => Model.Name)
            </p>
        </div>
        <div class="row">
            <p>
                <strong>
                    @Html.DisplayNameFor(Model => Model.Description)
                </strong>:
            <p>
                @Html.DisplayFor(Model => Model.Description)
            </p>
            </p>
        </div>


    </div>


</div>
<div>
    <p>
        <a asp-action="Update" asp-controller="ProductInventory" asp-route-productId="@Model.Id"> Edit Product </a>
    </p>
    <p>
        <a asp-action="Index" asp-controller="ProductInventory">Product Inventory Management</a>
    </p>

</div>