@using Newtonsoft.Json
@using OMS_App.Areas.Orders.Models
@model OrderIndexViewModel
@{
    @* ViewData["Title"] = "Product Orders"; *@
    ViewData["Title"] = "Danh sach don hang theo user";


}
@* <h1>@ViewData["Title"]</h1> *@
<section>
    <form method="post" class="row g-2" asp-action="Index">
        <div class="col-auto">
            <input class="form-control" asp-for="@Model.OrderId" placeholder="Enter order Id name...">
            <span asp-validation-for="@Model.OrderId" class="text-danger"></span>
        </div>
        <div class="col-2">
            <button id="login-submit" type="submit" class=" btn mb-3 btn-primary">Search</button>
        </div>
    </form>
</section>
<section>

    <h2><a asp-action="Create" asp-controller="ProductOrders" class="text-link text-primary">Thêm product</a>
    </h2>
    </div>
</section>
<hr>
@if (Model.OrdersReadDto != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    No
                </th>
                <th>
                    OrderId
                </th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var order in Model.OrdersReadDto)
            {
                <tr>
                    <td>@(i++)</td>
                    <td>@Html.DisplayFor(modelItem => order.Id)</td>
                    <td>@Html.DisplayFor(modelItem => order.OrderedPriceTotal)</td>


                    <td>
                        <a asp-action="Detail" asp-controller="Order" asp-route-productId="@order.Id">Detail</a>
                        <a asp-action="Update" asp-controller="Order" asp-route-productId="@order.Id">Update</a>
                        <a asp-action="Delete" asp-controller="Order" asp-route-productId="@order.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}